/.DS_Store
/.vscode
/Pipfile
/__pycache__
/db_scripts
/db_scripts_INXD_smartcards
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240203090109.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240218184807.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240315140652.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240315141419.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240413150255.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240415133653.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240417091807.zip
/inx-eugwc-inxdigital-svr.database.windows.net_INXD_Database_20240418110534.zip
/localhost_INXD_Database_20240127205652.zip